In [1]:
import pandas as pd
df = pd.read_csv(r'/Users/richboy/Downloads/Class_Exam_Marks.csv')
df

/var/folders/s0/4z06h3kn7yd9d1wp9677tp_00000gn/T/ipykernel_35897/1125109097.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

          Name  Physics  Chemistry  Math  English
0   Student_01      NaN       99.0  91.0     55.0
1   Student_02     91.0       99.0  52.0     65.0
2   Student_03     68.0       99.0  80.0     87.0
3   Student_04     54.0       84.0  42.0     96.0
4   Student_05     82.0       80.0  78.0     91.0
5   Student_06     47.0       68.0  45.0     99.0
6   Student_07    100.0       54.0  47.0     88.0
7   Student_08     60.0        NaN  66.0     41.0
8   Student_09     78.0       40.0  48.0     40.0
9   Student_10     97.0       64.0  76.0      NaN
10  Student_11     58.0       46.0  72.0     51.0
11  Student_12     62.0       48.0   NaN     44.0
12  Student_13      NaN       63.0   NaN      NaN
13  Student_14     50.0       40.0  83.0     71.0
14  Student_15     63.0       83.0  63.0     98.0
15  Student_16     92.0       47.0  54.0     94.0
16  Student_17     75.0       63.0  98.0     48.0
17  Student_18     79.0       50.0  93.0     80.0
18  Student_19     63.0       90.0  71.0     74.0
19  Student_20     42.0       56.0  71.0     58.0
20  Student_21     61.0        NaN  63.0     87.0
21  Student_22     92.0       74.0  80.0     55.0
22  Student_23     41.0       74.0  91.0     42.0
23  Student_24     63.0       72.0  88.0     59.0
24  Student_25     83.0       98.0  88.0     63.0
25  Student_26     69.0       44.0  97.0     93.0
26  Student_27     77.0       81.0  91.0     95.0
27  Student_28     41.0       78.0  51.0     72.0
28  Student_29     99.0       97.0  78.0     63.0
29  Student_30     60.0       80.0  41.0     91.0
30  Student_31     72.0        NaN  42.0     50.0
31  Student_32      NaN       46.0  88.0     88.0
32  Student_33     97.0       48.0  76.0     47.0
33  Student_34     61.0       47.0  88.0      NaN
34  Student_35    100.0       51.0  95.0      NaN
35  Student_36     83.0       73.0  56.0     79.0
36  Student_37     64.0       72.0  98.0     59.0
37  Student_38     88.0       87.0  88.0     74.0
38  Student_39     66.0       94.0  41.0     87.0
39  Student_40     98.0       62.0   NaN     64.0
40  Student_41     81.0        NaN   NaN     74.0
41  Student_42     67.0       76.0  93.0     64.0
42  Student_43     99.0       74.0  62.0     68.0
43  Student_44     55.0       83.0  76.0     57.0
44  Student_45      NaN       79.0  71.0     85.0
45  Student_46     86.0       61.0  72.0     57.0
46  Student_47     90.0       66.0  40.0     41.0
47  Student_48     83.0       74.0  58.0     93.0
48  Student_49     94.0        NaN   NaN     74.0
49  Student_50      NaN       74.0  92.0      NaN

In [4]:
df.isnull().sum()

Name         0
Physics      5
Chemistry    5
Math         5
English      5
dtype: int64

In [12]:
b= df.fillna(0)
b

          Name  Physics  Chemistry  Math  English
0   Student_01      0.0       99.0  91.0     55.0
1   Student_02     91.0       99.0  52.0     65.0
2   Student_03     68.0       99.0  80.0     87.0
3   Student_04     54.0       84.0  42.0     96.0
4   Student_05     82.0       80.0  78.0     91.0
5   Student_06     47.0       68.0  45.0     99.0
6   Student_07    100.0       54.0  47.0     88.0
7   Student_08     60.0        0.0  66.0     41.0
8   Student_09     78.0       40.0  48.0     40.0
9   Student_10     97.0       64.0  76.0      0.0
10  Student_11     58.0       46.0  72.0     51.0
11  Student_12     62.0       48.0   0.0     44.0
12  Student_13      0.0       63.0   0.0      0.0
13  Student_14     50.0       40.0  83.0     71.0
14  Student_15     63.0       83.0  63.0     98.0
15  Student_16     92.0       47.0  54.0     94.0
16  Student_17     75.0       63.0  98.0     48.0
17  Student_18     79.0       50.0  93.0     80.0
18  Student_19     63.0       90.0  71.0     74.0
19  Student_20     42.0       56.0  71.0     58.0
20  Student_21     61.0        0.0  63.0     87.0
21  Student_22     92.0       74.0  80.0     55.0
22  Student_23     41.0       74.0  91.0     42.0
23  Student_24     63.0       72.0  88.0     59.0
24  Student_25     83.0       98.0  88.0     63.0
25  Student_26     69.0       44.0  97.0     93.0
26  Student_27     77.0       81.0  91.0     95.0
27  Student_28     41.0       78.0  51.0     72.0
28  Student_29     99.0       97.0  78.0     63.0
29  Student_30     60.0       80.0  41.0     91.0
30  Student_31     72.0        0.0  42.0     50.0
31  Student_32      0.0       46.0  88.0     88.0
32  Student_33     97.0       48.0  76.0     47.0
33  Student_34     61.0       47.0  88.0      0.0
34  Student_35    100.0       51.0  95.0      0.0
35  Student_36     83.0       73.0  56.0     79.0
36  Student_37     64.0       72.0  98.0     59.0
37  Student_38     88.0       87.0  88.0     74.0
38  Student_39     66.0       94.0  41.0     87.0
39  Student_40     98.0       62.0   0.0     64.0
40  Student_41     81.0        0.0   0.0     74.0
41  Student_42     67.0       76.0  93.0     64.0
42  Student_43     99.0       74.0  62.0     68.0
43  Student_44     55.0       83.0  76.0     57.0
44  Student_45      0.0       79.0  71.0     85.0
45  Student_46     86.0       61.0  72.0     57.0
46  Student_47     90.0       66.0  40.0     41.0
47  Student_48     83.0       74.0  58.0     93.0
48  Student_49     94.0        0.0   0.0     74.0
49  Student_50      0.0       74.0  92.0      0.0

In [15]:
c = df.fillna({'Physics':'none', 'Chemistry':'34','Math':'45'})
c

          Name Physics Chemistry  Math  English
0   Student_01    none      99.0  91.0     55.0
1   Student_02    91.0      99.0  52.0     65.0
2   Student_03    68.0      99.0  80.0     87.0
3   Student_04    54.0      84.0  42.0     96.0
4   Student_05    82.0      80.0  78.0     91.0
5   Student_06    47.0      68.0  45.0     99.0
6   Student_07   100.0      54.0  47.0     88.0
7   Student_08    60.0        34  66.0     41.0
8   Student_09    78.0      40.0  48.0     40.0
9   Student_10    97.0      64.0  76.0      NaN
10  Student_11    58.0      46.0  72.0     51.0
11  Student_12    62.0      48.0    45     44.0
12  Student_13    none      63.0    45      NaN
13  Student_14    50.0      40.0  83.0     71.0
14  Student_15    63.0      83.0  63.0     98.0
15  Student_16    92.0      47.0  54.0     94.0
16  Student_17    75.0      63.0  98.0     48.0
17  Student_18    79.0      50.0  93.0     80.0
18  Student_19    63.0      90.0  71.0     74.0
19  Student_20    42.0      56.0  71.0     58.0
20  Student_21    61.0        34  63.0     87.0
21  Student_22    92.0      74.0  80.0     55.0
22  Student_23    41.0      74.0  91.0     42.0
23  Student_24    63.0      72.0  88.0     59.0
24  Student_25    83.0      98.0  88.0     63.0
25  Student_26    69.0      44.0  97.0     93.0
26  Student_27    77.0      81.0  91.0     95.0
27  Student_28    41.0      78.0  51.0     72.0
28  Student_29    99.0      97.0  78.0     63.0
29  Student_30    60.0      80.0  41.0     91.0
30  Student_31    72.0        34  42.0     50.0
31  Student_32    none      46.0  88.0     88.0
32  Student_33    97.0      48.0  76.0     47.0
33  Student_34    61.0      47.0  88.0      NaN
34  Student_35   100.0      51.0  95.0      NaN
35  Student_36    83.0      73.0  56.0     79.0
36  Student_37    64.0      72.0  98.0     59.0
37  Student_38    88.0      87.0  88.0     74.0
38  Student_39    66.0      94.0  41.0     87.0
39  Student_40    98.0      62.0    45     64.0
40  Student_41    81.0        34    45     74.0
41  Student_42    67.0      76.0  93.0     64.0
42  Student_43    99.0      74.0  62.0     68.0
43  Student_44    55.0      83.0  76.0     57.0
44  Student_45    none      79.0  71.0     85.0
45  Student_46    86.0      61.0  72.0     57.0
46  Student_47    90.0      66.0  40.0     41.0
47  Student_48    83.0      74.0  58.0     93.0
48  Student_49    94.0        34    45     74.0
49  Student_50    none      74.0  92.0      NaN

In [16]:
d = df.fillna(method='ffill')
d

/var/folders/s0/4z06h3kn7yd9d1wp9677tp_00000gn/T/ipykernel_35897/1988875573.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  d = df.fillna(method='ffill')

          Name  Physics  Chemistry  Math  English
0   Student_01      NaN       99.0  91.0     55.0
1   Student_02     91.0       99.0  52.0     65.0
2   Student_03     68.0       99.0  80.0     87.0
3   Student_04     54.0       84.0  42.0     96.0
4   Student_05     82.0       80.0  78.0     91.0
5   Student_06     47.0       68.0  45.0     99.0
6   Student_07    100.0       54.0  47.0     88.0
7   Student_08     60.0       54.0  66.0     41.0
8   Student_09     78.0       40.0  48.0     40.0
9   Student_10     97.0       64.0  76.0     40.0
10  Student_11     58.0       46.0  72.0     51.0
11  Student_12     62.0       48.0  72.0     44.0
12  Student_13     62.0       63.0  72.0     44.0
13  Student_14     50.0       40.0  83.0     71.0
14  Student_15     63.0       83.0  63.0     98.0
15  Student_16     92.0       47.0  54.0     94.0
16  Student_17     75.0       63.0  98.0     48.0
17  Student_18     79.0       50.0  93.0     80.0
18  Student_19     63.0       90.0  71.0     74.0
19  Student_20     42.0       56.0  71.0     58.0
20  Student_21     61.0       56.0  63.0     87.0
21  Student_22     92.0       74.0  80.0     55.0
22  Student_23     41.0       74.0  91.0     42.0
23  Student_24     63.0       72.0  88.0     59.0
24  Student_25     83.0       98.0  88.0     63.0
25  Student_26     69.0       44.0  97.0     93.0
26  Student_27     77.0       81.0  91.0     95.0
27  Student_28     41.0       78.0  51.0     72.0
28  Student_29     99.0       97.0  78.0     63.0
29  Student_30     60.0       80.0  41.0     91.0
30  Student_31     72.0       80.0  42.0     50.0
31  Student_32     72.0       46.0  88.0     88.0
32  Student_33     97.0       48.0  76.0     47.0
33  Student_34     61.0       47.0  88.0     47.0
34  Student_35    100.0       51.0  95.0     47.0
35  Student_36     83.0       73.0  56.0     79.0
36  Student_37     64.0       72.0  98.0     59.0
37  Student_38     88.0       87.0  88.0     74.0
38  Student_39     66.0       94.0  41.0     87.0
39  Student_40     98.0       62.0  41.0     64.0
40  Student_41     81.0       62.0  41.0     74.0
41  Student_42     67.0       76.0  93.0     64.0
42  Student_43     99.0       74.0  62.0     68.0
43  Student_44     55.0       83.0  76.0     57.0
44  Student_45     55.0       79.0  71.0     85.0
45  Student_46     86.0       61.0  72.0     57.0
46  Student_47     90.0       66.0  40.0     41.0
47  Student_48     83.0       74.0  58.0     93.0
48  Student_49     94.0       74.0  58.0     74.0
49  Student_50     94.0       74.0  92.0     74.0

In [17]:
d = df.fillna(method='ffill', axis= 1)
d

/var/folders/s0/4z06h3kn7yd9d1wp9677tp_00000gn/T/ipykernel_35897/3158928294.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  d = df.fillna(method='ffill', axis= 1)

          Name     Physics Chemistry  Math English
0   Student_01  Student_01      99.0  91.0    55.0
1   Student_02        91.0      99.0  52.0    65.0
2   Student_03        68.0      99.0  80.0    87.0
3   Student_04        54.0      84.0  42.0    96.0
4   Student_05        82.0      80.0  78.0    91.0
5   Student_06        47.0      68.0  45.0    99.0
6   Student_07       100.0      54.0  47.0    88.0
7   Student_08        60.0      60.0  66.0    41.0
8   Student_09        78.0      40.0  48.0    40.0
9   Student_10        97.0      64.0  76.0    76.0
10  Student_11        58.0      46.0  72.0    51.0
11  Student_12        62.0      48.0  48.0    44.0
12  Student_13  Student_13      63.0  63.0    63.0
13  Student_14        50.0      40.0  83.0    71.0
14  Student_15        63.0      83.0  63.0    98.0
15  Student_16        92.0      47.0  54.0    94.0
16  Student_17        75.0      63.0  98.0    48.0
17  Student_18        79.0      50.0  93.0    80.0
18  Student_19        63.0      90.0  71.0    74.0
19  Student_20        42.0      56.0  71.0    58.0
20  Student_21        61.0      61.0  63.0    87.0
21  Student_22        92.0      74.0  80.0    55.0
22  Student_23        41.0      74.0  91.0    42.0
23  Student_24        63.0      72.0  88.0    59.0
24  Student_25        83.0      98.0  88.0    63.0
25  Student_26        69.0      44.0  97.0    93.0
26  Student_27        77.0      81.0  91.0    95.0
27  Student_28        41.0      78.0  51.0    72.0
28  Student_29        99.0      97.0  78.0    63.0
29  Student_30        60.0      80.0  41.0    91.0
30  Student_31        72.0      72.0  42.0    50.0
31  Student_32  Student_32      46.0  88.0    88.0
32  Student_33        97.0      48.0  76.0    47.0
33  Student_34        61.0      47.0  88.0    88.0
34  Student_35       100.0      51.0  95.0    95.0
35  Student_36        83.0      73.0  56.0    79.0
36  Student_37        64.0      72.0  98.0    59.0
37  Student_38        88.0      87.0  88.0    74.0
38  Student_39        66.0      94.0  41.0    87.0
39  Student_40        98.0      62.0  62.0    64.0
40  Student_41        81.0      81.0  81.0    74.0
41  Student_42        67.0      76.0  93.0    64.0
42  Student_43        99.0      74.0  62.0    68.0
43  Student_44        55.0      83.0  76.0    57.0
44  Student_45  Student_45      79.0  71.0    85.0
45  Student_46        86.0      61.0  72.0    57.0
46  Student_47        90.0      66.0  40.0    41.0
47  Student_48        83.0      74.0  58.0    93.0
48  Student_49        94.0      94.0  94.0    74.0
49  Student_50  Student_50      74.0  92.0    92.0

In [18]:
e = df['Physics'].fillna(value=df['Physics'].mean())
e

0      74.022222
1      91.000000
2      68.000000
3      54.000000
4      82.000000
5      47.000000
6     100.000000
7      60.000000
8      78.000000
9      97.000000
10     58.000000
11     62.000000
12     74.022222
13     50.000000
14     63.000000
15     92.000000
16     75.000000
17     79.000000
18     63.000000
19     42.000000
20     61.000000
21     92.000000
22     41.000000
23     63.000000
24     83.000000
25     69.000000
26     77.000000
27     41.000000
28     99.000000
29     60.000000
30     72.000000
31     74.022222
32     97.000000
33     61.000000
34    100.000000
35     83.000000
36     64.000000
37     88.000000
38     66.000000
39     98.000000
40     81.000000
41     67.000000
42     99.000000
43     55.000000
44     74.022222
45     86.000000
46     90.000000
47     83.000000
48     94.000000
49     74.022222
Name: Physics, dtype: float64

In [19]:
f = df.fillna(method='bfill')
f

/var/folders/s0/4z06h3kn7yd9d1wp9677tp_00000gn/T/ipykernel_35897/2670076046.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  f = df.fillna(method='bfill')

          Name  Physics  Chemistry  Math  English
0   Student_01     91.0       99.0  91.0     55.0
1   Student_02     91.0       99.0  52.0     65.0
2   Student_03     68.0       99.0  80.0     87.0
3   Student_04     54.0       84.0  42.0     96.0
4   Student_05     82.0       80.0  78.0     91.0
5   Student_06     47.0       68.0  45.0     99.0
6   Student_07    100.0       54.0  47.0     88.0
7   Student_08     60.0       40.0  66.0     41.0
8   Student_09     78.0       40.0  48.0     40.0
9   Student_10     97.0       64.0  76.0     51.0
10  Student_11     58.0       46.0  72.0     51.0
11  Student_12     62.0       48.0  83.0     44.0
12  Student_13     50.0       63.0  83.0     71.0
13  Student_14     50.0       40.0  83.0     71.0
14  Student_15     63.0       83.0  63.0     98.0
15  Student_16     92.0       47.0  54.0     94.0
16  Student_17     75.0       63.0  98.0     48.0
17  Student_18     79.0       50.0  93.0     80.0
18  Student_19     63.0       90.0  71.0     74.0
19  Student_20     42.0       56.0  71.0     58.0
20  Student_21     61.0       74.0  63.0     87.0
21  Student_22     92.0       74.0  80.0     55.0
22  Student_23     41.0       74.0  91.0     42.0
23  Student_24     63.0       72.0  88.0     59.0
24  Student_25     83.0       98.0  88.0     63.0
25  Student_26     69.0       44.0  97.0     93.0
26  Student_27     77.0       81.0  91.0     95.0
27  Student_28     41.0       78.0  51.0     72.0
28  Student_29     99.0       97.0  78.0     63.0
29  Student_30     60.0       80.0  41.0     91.0
30  Student_31     72.0       46.0  42.0     50.0
31  Student_32     97.0       46.0  88.0     88.0
32  Student_33     97.0       48.0  76.0     47.0
33  Student_34     61.0       47.0  88.0     79.0
34  Student_35    100.0       51.0  95.0     79.0
35  Student_36     83.0       73.0  56.0     79.0
36  Student_37     64.0       72.0  98.0     59.0
37  Student_38     88.0       87.0  88.0     74.0
38  Student_39     66.0       94.0  41.0     87.0
39  Student_40     98.0       62.0  93.0     64.0
40  Student_41     81.0       76.0  93.0     74.0
41  Student_42     67.0       76.0  93.0     64.0
42  Student_43     99.0       74.0  62.0     68.0
43  Student_44     55.0       83.0  76.0     57.0
44  Student_45     86.0       79.0  71.0     85.0
45  Student_46     86.0       61.0  72.0     57.0
46  Student_47     90.0       66.0  40.0     41.0
47  Student_48     83.0       74.0  58.0     93.0
48  Student_49     94.0       74.0  92.0     74.0
49  Student_50      NaN       74.0  92.0      NaN

In [22]:
g = df.fillna(method='bfill', inplace= True)
g

/var/folders/s0/4z06h3kn7yd9d1wp9677tp_00000gn/T/ipykernel_35897/1751111195.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  g = df.fillna(method='bfill', inplace= True)

In [24]:
g